{% extends 'base.html.twig' %}

{% block title %}About Us{% endblock %}

{% block content %}

    <h3 style="margin-left: 5%">About this Web page:</h3>
    <h5 style="margin-left: 5%">This Website was made by "Chamsedine Mansouri" as a summer internship project for Ooredoo.</h5>
    <h5 style="margin-left: 5%">The aim of this application is to log users's invoice access and to store a certain related data. Authenticating Against an LDAP server was Also one of the main tasks</h5>
    <h5 style="margin-left: 5%">The project source code is available under the following Github Repository <a href="">XXXXX</a>.</h5>
    <h5 style="margin-left: 5%"><b>Mansouri Chamsedine- 2018- All Rights Reserved</b></h5>

{% endblock %}